{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="{% static 'main/css/bio.css' %}">
	<title>{% trans 'Обо мне' %}</title>
</head>



<body>
	<span class="inscription">Scroll down</span>
	<div class="wrapper">
		<div class="page">
			<div class="parallax">
				<div class="parallax__montain parallax__montain_1"></div>
				<div class="parallax__montain parallax__montain_2"></div>
				<div class="parallax__montain parallax__montain_3"></div>
				<div class="parallax__fog"></div>
			</div>
			<div class="content">
				<div class="content__body">
					<div class="content__header">
						<h1 class="content__title">{% trans 'Привет' %}</h1>
						<h2 class="content__subtitle">{% trans 'Это страница с информацией обо мне' %}</h2>
					</div>
					<div class="content__article">
						<p>{% trans 'Мне 24 года. Сейчас я активно изучаю программирование для переквалификации а IT' %}</p>
						<p>{% trans 'Ищу работу на позицию python backend разработчика' %}</p>
						<br><br><br><br><br><br><br><br><br><br>

					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="{% static 'main/js/bio.js'%}"></script>
</body>

</html>

{% include 'main/layout.html' %}