{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}
{% block title %}{% trans 'Главная страница' %}{% endblock %}

{% block contentrt %}

<body class="bodyindex">
    <div class="block_main">

    <form class="lang" action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select class="select" name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option class="option" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input class="Go" type="submit" value="Go">
    </form>



     <div class="avto">
        {% if request.user.is_authenticated %}
        <li class="last">{{user.username}} | <a href="{% url 'logout' %}">{% trans 'Выход' %}</a></li>
        {% else %}
        <li class="last"><a href="{% url 'register' %}">{% trans 'Регистрация' %}</a> | <a href="{% url 'login' %}">{% trans 'Вход' %}</a></li>
        {% endif %}
     </div>


    </div>

    <div class="links">
        <p class="contacts">{% trans 'Мои контакты:' %}</p><a href="https://github.com/GavdzinskyiVeacheslav" target="_blank"><img src="{% static 'main/img/git-ico.png' %}" width="40" height="40" class="git-ico"
                    alt="loading error" /></a>
        <a href="https://t.me/ViaGav" target="_blank"><img src="{% static 'main/img/telegram-ico.png' %}" width="40" height="40" class="telegram-ico"
                    alt="loading error"/></a>
    </div>
</body>

{% endblock %}
