{% extends 'main/layout.html' %}
{% load i18n %}
{% block title %}{% trans 'Регистрация' %}{% endblock %}
{% block contentrt %}

<h1>{% trans 'Регистрация' %}</h1>

<form method="post">
    {% csrf_token %}

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label}}">{{f.label}}:</label>{{f}}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}


    <button class="btn btn-success" type="submit">{% trans 'Регистрация' %}</button><a href="{% url 'login' %}"> &nbsp;{% trans 'Войти' %}</a>
</form>

{% endblock %}