body {
    background: #2c2c2c;
    padding: 0px 1.2em;
}

#slide_lft{
position: fixed;
top: 30px;
left: -10px;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;
background: #2C2A2A;
color: #fff;
padding: 5px;
font-size: 20px;
z-index: 2;
}

#slide_in {
position: fixed;
min-height: 550px;
top: 30px;
left: -270px;
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;
box-shadow:0 0 10px #777;
background: #2C2A2A;
color: #fff;
width: 235px;
padding: 10px;
box-sizing: padding-box;

}

#slide_lft:hover {
left: 0px;
}

#slide_lft:hover #slide_in {
left: 0;
}

aside img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-top: -30px;
    margin-bottom: 10px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 10px;
    transition: transform .6s ease;
    font-size: 170%;
    position: relative; right: 38px;
    font-size: 20px;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    transform: scale(1.05);
}

main .features {
    margin-top: 30px;
    color: #fff;
    text-align: center;
    width: 100%;
}

main .features h1 {
    font-size: 1.5rem;
}


main .features p {
    margin: 10px auto;
    font-size: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

main .features button {
    height: 50px;
    width: 170px;
    font-size: 18px;
    margin-top: -35px;
}


/*Notes Style */
.alert-warning {
    /*float: left;*/
    clear: both;
    width: 400px;
    text-align: left;
    margin: 5px 25%;
    z-index: 1;
}

.wrapper {
	display: grid;
	min-height: 10vh;
	grid-template: minmax(10px, auto) 1fr minmax(5px, auto) / 1fr;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Game Example */

.h1game, .text{
   margin: auto;
   font-size: 1.5em;
   color: green;
   font-family: Georgia, serif;
   font-weight: bold;
}


.game span {
color: #AEF100;
}

.h1game{
padding: 15px;
animation: show 4s;
}

.text{
animation: show 5s;
text-align: center;
}

@keyframes show {

from {opacity: 0;} to {opacity: 1;}
}

.smailik {
    border-radius: 100px;
}


.label {
  color: #AEF100;
  font-family: Georgia, serif;
  font-size: 1.5em;
  animation: show 5s;
}


.guessField {
    width: 10%;
    height: 37px;
    animation: show 6s;
    margin: 0px 8px;
}

.guesses {
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}


.guessSubmit {
    color: #fff;
    background-color: #198754;
    height: 35px;
    font-family: Georgia, serif;
    animation: show 6s;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 5px;
   }


.lastResult, .lowOrHi{
    text-align: center;
    background: #2c2c2c;
    font-size: 20px;
}

.lastResult {
    margin: 10px 0px 0px 0px;
}


.reset {
    height: 35px;
    color: #fff;
    background-color: #198754;
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 500;
    visibility: hidden;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.block {
   display: flex;
   align-items: center;
   justify-content: center;
}

.block_reset{
    position: relative;
}


.cancel {
    height: 35px;
    color: #fff;
    background-color: #FF4940;
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 500;
    visibility: hidden;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 58%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.lowOrHi {
  margin: 0px 0px 10px 0px;
}

.btn-danger, .btn-info {
position: relative;
bottom: 18px;
height: 50px;
width: 25%;
padding: 13px;
margin: 15px;
}

/*Main page */
.last {
    font-size: 30px;
    color: #408BD3;
    list-style: none;
}


.form-label {
    color: #fff;
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
    font-size: 18px;
}


.form-error{
    color: red;
}


.git-ico, .telegram-ico{
   border-radius: 50%;
}

.telegram-ico:hover, .git-ico:hover{
    box-shadow:0 0 10px #777;
}

.git-ico {
}

.telegram-ico {
  opacity: 0.9;
  filter: alpha(opacity=90);
}


.select{
   height: 30px;
   background-color: #B1A4A4;
   font-weight: 700;
}


.Go{
    width: 100px;
    background-color: #198754;
    font-weight: 700;
}

.option{
  font-weight: 700;
}

.block_main {
   display: flex;
   align-items: center;
   justify-content: center;

}

.links{
    margin: 0 0px;
    padding: 0 0px;
    float: right;
}

.avto{
   margin: 0 0px;
}

@media (max-width: 1000px){
    block_main{
        /* Изменяем направление оси в шапке на вертикальное */
        flex-direction: column;

        /* Выравниваем элементы в «шапке» влево */
        align-items: flex-start;
    }
}

.contacts {
    /*
    text-align: right;
    margin: 80px 0px 5px 0px;
    */
    margin: 0px 10px 0px -40px;
    color: #408BD3;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}