{% extends 'main/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block contentrt %}
    <div class="features">
        <h1>{{ article.title }}</h1>
        <h5>{{ article.full_text }}</h5>
        <br><br>
        {% if request.user.is_authenticated %}
            <a href="{% url 'notes-delete' article.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'notes-update' article.id %}" class="btn btn-info">Edit</a>
        {% else %}
        <div class="box">
        <p class="pwarn">In order to change or delete a note -- ><a class="log" href="{% url 'login' %}">log in</a></p>
        </div>
        {% endif %}


    </div>
{% endblock %}