{% extends 'main/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block contentrt %}
{% load i18n %}
    <div class="features">
        <h1>{{ article.title }}</h1>
        <h5>{{ article.full_text }}</h5>
        <br><br>
        {% if request.user.is_authenticated %}
            <a href="{% url 'notes-delete' article.id %}" class="btn btn-danger">{% trans 'Удалить' %}</a>
            <a href="{% url 'notes-update' article.id %}" class="btn btn-info">{% trans 'Редактировать' %}</a>
        {% else %}
        <div class="box_for_notes_warning">
        <p class="notes_warning_text">{% trans 'Для редактирования или удаления' %} -- ><a
                class="notes_link_login" href="{% url 'login' %}">{% trans 'Авторизируйтесь' %}</a></p>
        </div>
        {% endif %}


    </div>
{% endblock %}