{% extends 'main/layout.html' %}
{% load i18n %}
{% block title %}{% trans 'Удаление заметки ...' %}{% endblock %}

{% block contentrt %}
    <div class="features">
        <h1>{% trans 'Вы уверены что хотите удалить заметку?' %}</h1>
         <form method="post">
             {% csrf_token %}
             <br>
             <button class="btn btn-success" type="submit">{% trans 'Да' %}</button>
             <a href="{% url 'notes_home' %}" class="btn btn-danger">{% trans 'Нет' %}</a>
         </form>
    </div>
{% endblock %}