{% extends 'main/layout.html' %}

{% block title %}Notes{% endblock %}

{% block contentrt %}

    <div class="features">

         {% if notes %}
            {% for el in notes %}
    </div>
    <div class="wrapper">
        <section class="alert alert-warning">
            <h2 class="notes__title">{{ el.title }}</h2>
            <div class="notes__items">
                <div class="notes__item">
                    <a href="{% url 'notes-detail' el.id %}" class="btn btn-warning"> Read</a>
                </div>
            </div>
        </section>
    </div>
            {% endfor %}
         {% else %}
            <p>У вас нет записей!</p>
         {% endif %}

         {# Комментарий #}

{% endblock %}


