{% extends 'main/layout.html' %}

{% block title %}Notes{% endblock %}

{% block content %}

    <div class="features">
        <h1>Notes</h1>
         {% if notes %}
            {% for el in notes %}
    </div>

    <div class="alert alert-warning">
        <h3>{{ el.title }}</h3>
        <a href="{% url 'notes-detail' el.id %}" class="btn btn-warning"> Read</a>
    </div>
            {% endfor %}
         {% else %}
            <p>У вас нет записей!</p>
         {% endif %}

         {# Комментарий #}

{% endblock %}

